@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #219EBC;
}
.container1{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-popup{
    width: 3em;
    position: fixed;
    right: 1px;
    bottom: 1px;
    cursor: grab;
}
.container-form{
    font-size: 1.2rem;
    margin-top: 30px;
    width: 16em;
    padding: 13px;
    display: flex;
    display: none;
    flex-direction: column ;
    border: solid 1px black;
}
.container-form h4{
    margin: 0px;
}
/* estilo de item */
ul{
    padding: 10px;
    margin: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul li{
    background-color: #caf0f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}
.container-tareas{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    ul{
        padding: 10px;
        margin: 0;
        width: 30%;
    }
}